.event-card {
    display: flex;
    flex-direction: column;
    gap: 2px;
    height: 120px;
    width: 100%;
    border-radius: 20px;
    background-color: #2C2C2C;
    border: 1px solid #FFFFFFCC;
    font-size: 16px;
    font-style: normal;
    padding: 20px 15px;
    color: #FFF;
}

.event-name {
    font-size: 20px;
}

.event-date {
    color: #4CBF4A;
    font-weight: 700;
    font-size: 14px;
}
