#navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    flex-direction: row;
    font-family: 'Roboto Mono', monospace;
    border-bottom: 1px solid white;
    margin-bottom: 40px;
}

#logo {
    margin-right: auto;
    height: 100%;
    object-fit: cover;
}

/* Styling for the navbar links */
.navbar-links a {
    color: #34C759;
    text-decoration: none;
}

.navbar-links {
    margin-right: 40px;
    display: flex;
    gap: 40px;
}

/* For both the join and login buttons */
.navbar-button {
    width: 100px;
    height: 40px;
    margin: 0px 25px;
    border-radius: 8px;
    border: 1px solid #FFFFFF;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    background-color: #2C2C2C;
    color: #34C759;
}

.navbar-widescreen {
    display: flex;
    align-items: center;
}

/* For responsive button */
.navbar-responsive-icon {
    display: none;
    padding-right: 20px;
}

.navbar-links.burger {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

/* Make the navbar responsive */
@media (max-width: 900px) {
    .navbar-links a {
        font-size: 12px;
    }

    .navbar-links {
        margin-right: 2vw;
        gap: 2vw;
    }
    
    .navbar-button {
        margin: 0px 2vw;
    }
}

@media (max-width: 700px) {
    .navbar-button {
       width: 60px;
       font-size: 14px;
    }
}

@media (max-width: 590px) {
   .navbar-responsive-icon {
    display: block;
   }

   .navbar-widescreen { 
    display: none;
   }

   .navbar-links.burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;

    /* Height of navbar, not sure how to not hardcode this value */
    top: 72px;
    right: 0px;
    margin: 0; 
    padding: 15px;
    background-color: #030304;
    width: 100%;
   }

   .navbar-links button {
    width: 100px;
   }

   .navbar-links a {
    font-size: 15px;
   }

}