
body {
    background-color: rgb(0, 0, 0);
    color: rgb(40, 189, 10);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(25vh); /* Adjust based on your nav height */
}

.containerAnimated1 {
    display: inline-block;
    position: relative;
}

.textAnimated1 {
    font-size: 5rem;
    letter-spacing: 10px;
    font-family: monospace;
    border-right: 5px solid;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 2s steps(22),
        cursor .4s step-end infinite alternate,
        disappear 0s 2s forwards;
}

@keyframes cursor {
    50% { border-color: transparent }
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
@keyframes disappear {
        to { border-color: transparent }
}