/* A general css file that can work through out the whole webpage */

#app-container {
   margin: auto;
}

#member-profiles {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}
